---
layout: default
---

<div class="header">
    <h1>-----------<br>One month of indie blues <br>-----------</h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="blog">
    <h1>Topics:</h1>
    <ul>
       {% for item in site.data.topics_navigation %} 
        <li>
        * <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
